$black-700: #2D3139;
$black-800: #020617;
$black-900: #1D1E20;
$black: #000000;

$gray-100: rgba(195, 212, 233, 0.5);
$gray-200: #E2E8F0;
$gray-300: #A5ABB6;
$gray-400: rgba(108, 114, 127, 0.5);
$gray-500: rgba(0, 0, 0, 0.2);
$gray-600: #6C727F;
$gray-700: rgba(0, 0, 0, 0.7);
$gray-800: #3F4550;
$gray-900: #31373D;

$blue-100: rgba(41, 141, 255, 0.12);
$blue-200: rgba(49, 107, 255, 0.29);
$blue-300: rgba(49, 107, 255, 0.4);
$blue-400: #A6CEF2;
$blue-500: #54A6FF;
$blue-600: #1F87FF;
$blue-700: #0A7CFF;
$blue-800: #316BFF;
$blue-900: #3563E9;

$green-100: #5ABD5F;
$green-200: #2CBE30;

$yellow-100: #FFF0BF;
$yellow-200: #FFCE31;