<form>
    <app-select-item [name]="'Densidade'"></app-select-item>
    <app-select-item [name]="'Teor de etanol'"></app-select-item>
    <app-select-item [name]="'Eficiência final'"></app-select-item>
    <app-select-item [name]="'Distância'"></app-select-item>

    <input type="text" name="apelido" placeholder="Procurar por nome" class="search-name">
    <app-select-item [name]="'Data'"></app-select-item>

    <button>Filtrar postos</button>>
</form>

<table>
    <thead>
        <tr>
            <th>Logo</th>
            <th class="name-column">Nome</th>
            <th>Densidade <span>20°C</span></th>
            <th>Teor de etanol</th>
            <th>Eficiência final <span>Km/R$</span></th>
            <th>Distância até o posto</th>
            <th>última análise</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td><img src="assets/logo-posto-lorem-ipsum.svg" alt="Logo do posto"></td>
            <td class="name-column">Posto do Zé</td>
            <td><span>0,7</span></td>
            <td><span>27%</span></td>
            <td><span>10,5</span></td>
            <td><span>1,5 km</span></td>
            <td>
                <div class="last-analise">
                    <img src="/assets/clock.svg" alt="Símbolo de relógio">
                    <p>10 nov 2024</p>
                </div>
            </td>
        </tr>

        <tr>
            <td><img src="assets/logo-posto-lorem-ipsum.svg" alt="Logo do posto"></td>
            <td class="name-column">Posto do Zé</td>
            <td><span>0,7</span></td>
            <td><span>27%</span></td>
            <td><span>10,5</span></td>
            <td><span>1,5 km</span></td>
            <td>
                <div class="last-analise">
                    <img src="/assets/clock.svg" alt="Símbolo de relógio">
                    <p>10 nov 2024</p>
                </div>
            </td>
        </tr>

        <tr>
            <td><img src="assets/logo-posto-lorem-ipsum.svg" alt="Logo do posto"></td>
            <td class="name-column">Posto do Zé</td>
            <td><span>0,7</span></td>
            <td><span>27%</span></td>
            <td><span>10,5</span></td>
            <td><span>1,5 km</span></td>
            <td>
                <div class="last-analise">
                    <img src="/assets/clock.svg" alt="Símbolo de relógio">
                    <p>10 nov 2024</p>
                </div>
            </td>
        </tr>

        <tr>
            <td><img src="assets/logo-posto-lorem-ipsum.svg" alt="Logo do posto"></td>
            <td class="name-column">Posto do Zé</td>
            <td><span>0,7</span></td>
            <td><span>27%</span></td>
            <td><span>10,5</span></td>
            <td><span>1,5 km</span></td>
            <td>
                <div class="last-analise">
                    <img src="/assets/clock.svg" alt="Símbolo de relógio">
                    <p>10 nov 2024</p>
                </div>
            </td>
        </tr>

        <tr>
            <td><img src="assets/logo-posto-lorem-ipsum.svg" alt="Logo do posto"></td>
            <td class="name-column">Posto do Zé</td>
            <td><span>0,7</span></td>
            <td><span>27%</span></td>
            <td><span>10,5</span></td>
            <td><span>1,5 km</span></td>
            <td>
                <div class="last-analise">
                    <img src="/assets/clock.svg" alt="Símbolo de relógio">
                    <p>10 nov 2024</p>
                </div>
            </td>
        </tr>

        <tr>
            <td><img src="assets/logo-posto-lorem-ipsum.svg" alt="Logo do posto"></td>
            <td class="name-column">Posto do Zé</td>
            <td><span>0,7</span></td>
            <td><span>27%</span></td>
            <td><span>10,5</span></td>
            <td><span>1,5 km</span></td>
            <td>
                <div class="last-analise">
                    <img src="/assets/clock.svg" alt="Símbolo de relógio">
                    <p>10 nov 2024</p>
                </div>
            </td>
        </tr>

        <tr>
            <td><img src="assets/logo-posto-lorem-ipsum.svg" alt="Logo do posto"></td>
            <td class="name-column">Posto do Zé</td>
            <td><span>0,7</span></td>
            <td><span>27%</span></td>
            <td><span>10,5</span></td>
            <td><span>1,5 km</span></td>
            <td>
                <div class="last-analise">
                    <img src="/assets/clock.svg" alt="Símbolo de relógio">
                    <p>10 nov 2024</p>
                </div>
            </td>
        </tr>
    </tbody>
</table>