<section>
    <div class="top">
        <h1>Mapgas</h1>

        <ul>
            <li>
                <img src="assets/money.svg" alt="Símbolo de cifrão">
            </li>
            <li>
                <img src="assets/chemical.svg" alt="Símbolo químico">
            </li>
            <li>
                <img src="assets/gas-station.svg" alt="Símbolo de posto de gasolina">
            </li>
        </ul>
    </div>

    <p>Encontre postos, compare preços e qualidade para maximizar<br/> o desempenho do seu veículo com nossas análises.</p>
</section>
