<div class="boxs">
    <div class="left-box">
        <ul>
            <li> <img src="/assets/yellow-rating-star.svg" alt="Símbolo de estrela de avaliação do posto"> </li>
            <li> <img src="/assets/yellow-rating-star.svg" alt="Símbolo de estrela de avaliação do posto"> </li>
            <li> <img src="/assets/yellow-rating-star.svg" alt="Símbolo de estrela de avaliação do posto"> </li>
            <li> <img src="/assets/gray-rating-star.svg" alt="Símbolo de estrela de avaliação do posto"> </li>
            <li> <img src="/assets/gray-rating-star.svg" alt="Símbolo de estrela de avaliação do posto"> </li>
        </ul>

        <div class="core-content">
            <h2>8Km</h2>
            <span>de distância</span>
        </div>

        <footer>
            <p><strong>33,9</strong>Km</p>
            <p>por <strong class="liter">litro</strong></p>
        </footer>
    </div>

    <div class="center">
        <div class="center-box">
            <header>
                <h3>1°</h3>
                <p>da lista de melhores postos<br> próximos a você</p>
            </header>

            <div class="core-content">
                <div class="logo-wrapper">
                    <img src="/assets/logo-posto-lorem-ipsum.svg" alt="Logo do Posto Lorem Ipsum">
                </div>

                <p>Posto <span>Lorem Ipsum</span></p>
            </div>

            <p class="gas-station-location">
                Rua Professor Carlos Guedes Alcoforado, Centro, São Gonçalo do Amarante
            </p>
        </div>

        <ul>
            <li>A</li>
            <li>Z</li>
            <li>+29</li>
        </ul>
    </div> 

    <div class="right-box">
        <header>
            <p class="analysis">1° análise</p>
            <p class="date-analysis"><span>22 nov</span> 2024</p>
        </header>

        <div class="core-content">
            <div>
                <h2>12</h2>
                <img src="/assets/check.svg">
            </div>

            <p class="analysis">análises feitas</p>
        </div>

        <footer>
            <p class="analysis">última análise</p>
            <p class="date-analysis"><span>31 dez</span> 2025</p>
        </footer>
    </div>
</div>
