@import '../../../styles/variables.scss';
@import '../../../styles/input.scss';
@import '../../../styles/button.scss';

section {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;

    .form-header {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;

        div {
            display: flex;
            align-items: center;
            gap: 0.6rem;
    
            h3 {
                font-size: 2rem;
                font-weight: 500;
                color: $black-900;
            }
        }
    
        p {
            font-size: 1.4rem;
            color: $gray-600;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1.4rem;

        .form-separator {
            display: flex;
            align-items: center;
            gap: 0.4rem;

            div {
                border-top: 0.15rem solid $gray-100;
                width: 100%;
            }

            span {
                font-size: 1.1rem;
                font-weight: 600;
                color: $gray-500;
            }
        }
    }
}