<header>
    <div class="left">
        <div class="wrapper-icon">
            <img src="assets/icon.svg" alt="Logo do Mapgas">
        </div>
        <h2>Mapgas</h2>
    </div>

    <nav>
        <ul>
            <li>
                <a href="#">sugestão</a>
            </li>
            <li>
                <a href="#">postos</a>
            </li>
            <li>
                <a href="#">solicitar</a>
            </li>
            <li>
                <a href="#">sobre</a>
            </li>
            <li>
                <a href="#">comparar</a>
            </li>
            <li>
                <a href="#">simulador</a>
            </li>
        </ul>
    </nav>

    <div>
        <button>notificações</button>
        <button>like</button>
        <button>settings</button>
    </div>
</header>